<!-- start icon-bag.liquid (SNIPPET) -->
<svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 548 761.15"><defs><style>.cls-1{fill:#333;fill-rule:evenodd;}</style></defs><title>sacola_sacolosa_cinza</title><path class="cls-1" d="M176,208.15c5-160,163-219,199,0Zm266,0c-33-271-300-284-336,0H31l-31,552,548,1-32-553Z"/></svg>