<!-- order-cutoff.liquid (START) -->
<style>
    {%- render 'order-cutoff-css' -%}
</style>

<div class="w-full px-2 py-1 bg-[#012169] mx-auto font-sans text-base font-normal tracking-wide text-white">
    <span class="font-semibold tracking-wider">Get it in time for Father’s Day</span>
    when you complete your order 
    <span class="font-semibold tracking-wider">Today, {{ "now" | date: "%b %d" }}</span> 
    (Just select '<span class="font-semibold tracking-wider">Amazon next-day</span>' at checkout)
</div>

<!-- order-cutoff.liquid (END) -->
