
 <div class="top-coll description-collection text-left">
   <div class="prose mx-2 md:mx-auto">
        <div class="main-coll-title description-content  closed">
          <h1>{{ page.title }}</h1>
            <div class="main-coll-des description-text">
               <h2> <span>{{ page.content }}</span> </h2>
            </div>
          </div>
   </div>
    </div>

{% schema %}
  {
    "name": "main collection banner",
    "settings": [],
     "presets": [
       {
         "name":"main collection banner"
       }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}