<div class="relative px-4 sm:px-6 lg:px-8 py-8">
  <div class="mx-auto max-w-prose text-lg">
    <h1>
      <span
        class="block text-center text-base font-semibold uppercase tracking-wide text-primary-700"
        >{{ section.settings.suptitle }}</span
      >
      <span
        class="mt-2 block text-center text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl"
        >{{ section.settings.title }}</span
      >
    </h1>
    <p class="mt-8 text-xl leading-8 text-gray-500">
      {{ section.settings.content }}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Simple Prose",
  "settings": [
    {
      "type": "text",
      "id": "suptitle",
      "label": "Suptitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "category": "Banner",
      "name": "Simple Prose"
    }
  ]
}
{% endschema %}
