<div class="wrapper">
<div id="stamped-reviews-widget" data-widget-type="carousel"  data-tags="photo" data-title="Real Reviews from Real Customers" data-auto-play="false" data-min-rating="4" data-random="? string:REAL REVIEWS FROM REAL CUSTOMERS ?" data-style-color-text="#000000" data-limit-words="25"></div>
</div>
{% schema %}
{
  "name": "Stamped Reviews Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "placeholder": "Type Review Title"
    }
  ],
  "presets": [
    {
      "name": "Stamped Reviews Carousel",
      "category": "Reviews"
    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}

